<!DOCTYPE html>
<html>
<body>

<h2>Add a new recipe: </h2>

<form method="POST" action="/recipes">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="description">Description:</label><br>
  <textarea id="descs" name="descs"></textarea><br>
  <label for="rating">Rating:</label><br>
  <input type="number" id="rating" name="rating"><br>
  <label for="prep_time">Prep-time:</label><br>
  <input type="text" id="prep_time" name="prep_time"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
